.breadcrum{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 8px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    background: rgb(0, 102, 150);
    padding: 30px;
    padding-right: 50px;
}