.sidebar {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    gap: 10px;
    width: 100%;
    height: auto;
    padding-bottom: 10px;
    background: rgb(0, 137, 183);
}

.sidebar-item {
    display: flex;
    align-items: center;
    background: #f6f6f6;
    cursor: pointer;
    font-weight: 700;
    color: black;
    margin-right: 0.5px;
}

.sidebar-item p{
    margin-left: 15px;
}