.add-product {
    box-sizing: border-box;
    width: 300%;
    margin: 0px 20px 0px 20px;
    height: 140vh;
}

.addproduct-itemfield {
    width: 100%;
    color: #000000;
    font-size: 20px;
}

.addproduct-itemfield input {
    box-sizing: border-box;
    width: 100%;
    height: 35px;
    padding-left: 5px;
    border: 1px solid #000000;
    outline: none;
    color: #000000;
    font-size: 14px;
}

.addproduct-itemfield textarea {
    box-sizing: border-box;
    width: 100%;
    height: 10rem;
    padding-left: 5px;
    border: 1px solid #000000;
    outline: none;
    color: #000000;
    font-size: 14px;
}
.add-product-selector {
    padding: 10px;
    width: 100%;
    height: 35px;
    font-size: 14px;
    color: #000000;
    border: 1px solid #0000008d;
}

.addproduct-thumbnail-img {
    height: 200px;
    width: 25rem;
}

.addproduct-btn{
    margin-top: 20px;
    width: 100%;
    height: 50px;
    background: #000000;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 16px;
    font-weight: 800;
}