.relatedproducts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 80vh;
    background: rgb(51, 99, 153);
    padding-top: 30px;
}

.relatedproducts h1 {
    color: #ffffff;
    font-size: 40px;
    font-weight: 600;
}

.relatedproducts-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 50px;
    gap: 10px;
    row-gap: 50px;
}

.relatedproducts-item img {
    max-width: 100%;
    max-height: 100%;
}