.list-product {
    box-sizing: border-box;
    width: 300%;
    margin: 20px 0px 0px 25px;
}

.listproduct-format-main {
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr 0.5fr 0.5fr 0fr;
    width: 97%;
    color: #000000;
    font-size: 14px;
}

.listproduct-product-icon {
    height: 50px;
}

.listproduct-remove-icon {
    cursor: pointer;
    height: 40px;
}

.listproduct-allproducts {
    overflow-y: auto;
}

