.list-product {
    box-sizing: border-box;
    width: 100%;
    margin: 10px 20px;
}

.listproduct-format-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    width: 100%;
    color: #000000;
    font-size: 14px;
}

.listproduct-product-icon {
    height: 50px;
}

.listproduct-remove-icon {
    cursor: pointer;
    height: 40px;
}

.listproduct-allproducts {
    overflow-y: auto;
}

