.hero {
    height: 90vh;
    background: linear-gradient(to right, #17a7ed, #772ba3, #cf15ad);
    display: flex;
}

.hero-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 140px;
    line-height: 1.1;
}

.hero-left h2 {
    color: rgb(241, 255, 48);
    font-size: 28px;
    font-weight: 600;
}

.hero-left h1{
    font-size: 4rem;
    margin-bottom: 20px;
}
.hero-left p {
    color: rgb(255, 255, 255);
    font-size: 60px;
    font-weight: 700;
}

.hero-latest-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 210px;
    height: 64px;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
    background: rgb(251, 255, 34);
    color: rgb(53, 53, 53);
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

.hero-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 60px;
}

.hero-right img {
    max-width: 110%;
    height: auto;
}